openapi: 3.0.3
info:
  contact:
    email: e.rieb@posteo.de
    name: Elias R.
    url: https://github.com/Roshick
  description: Renders Kubernetes manifests with the help of various tools such as
    Helm and Kustomize.
  license:
    name: Copyright (c) 2025 Elias R.
    url: https://github.com/Roshick
  title: Manifest Maestro
  version: v1.2.0
servers:
- url: /
tags:
- name: Helm
- name: Kustomize
paths:
  /rest/api/v1/helm/actions/list-charts:
    post:
      description: |-
        Lists all charts contained in the given repository.

        Service needs read permission on given repository.
      operationId: postHelmListChartsAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HelmListChartsAction"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HelmListChartsActionResponse"
          description: Success
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "500":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
        "502":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Upstream failed to respond
      summary: List all Helm Charts
      tags:
      - Helm
  /rest/api/v1/helm/actions/list-chart-versions:
    post:
      description: |-
        Lists all versions of a chart contained in the given repository.

        Service needs read permission on given repository.
      operationId: postHelmListChartVersionsAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HelmListChartVersionsAction"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HelmListChartVersionsAction"
          description: Success
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "500":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
        "502":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Upstream failed to respond
      summary: List all versions of a Helm Chart
      tags:
      - Helm
  /rest/api/v1/helm/actions/get-chart-metadata:
    post:
      description: |-
        Retrieves metadata of specific version of a chart contained in the given repository.

        Service needs read permission on given repository.
      operationId: postHelmGetChartMetadataAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HelmGetChartMetadataAction"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HelmGetChartMetadataActionResponse"
          description: Success
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "422":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Repository is in an unprocessable state
        "500":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
        "502":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Upstream failed to respond
      summary: Get Helm Chart Metadata
      tags:
      - Helm
  /rest/api/v1/helm/actions/render-chart:
    post:
      description: |-
        Renders Kubernetes manifests based on Helm chart provided in a repository.

        Service needs read permission on given repository.
      operationId: postHelmRenderChartAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HelmRenderChartAction"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/HelmRenderChartActionResponse"
          description: Success
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "422":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Repository is in an unprocessable state
        "500":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
        "502":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Upstream failed to respond
      summary: Render Helm Chart
      tags:
      - Helm
  /rest/api/v1/kustomize/actions/render-kustomization:
    post:
      description: |-
        Renders Kubernetes manifests based on Kustomize Kustomization provided in repository.

        Service needs read permission on given repository.
      operationId: postKustomizeRenderKustomizationAction
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KustomizeRenderKustomizationAction"
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/KustomizeRenderKustomizationActionResponse"
          description: Success
        "400":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Bad request
        "422":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Repository is in an unprocessable state
        "500":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Internal server error
        "502":
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/Error"
          description: Upstream failed to respond
      summary: Render Kustomize Kustomization
      tags:
      - Kustomize
components:
  schemas:
    Error:
      example:
        instance: instance
        detail: detail
        type: type
        title: title
        status: 0.8008281904610115
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: number
        detail:
          type: string
        instance:
          type: string
      type: object
    HelmListChartsAction:
      example:
        reference:
          repositoryURL: repositoryURL
      properties:
        reference:
          $ref: "#/components/schemas/HelmRepositoryReference"
      required:
      - reference
      type: object
    HelmListChartsActionResponse:
      example:
        items:
        - items
        - items
      properties:
        items:
          items:
            type: string
          type: array
      required:
      - items
      type: object
    HelmListChartVersionsAction:
      example:
        reference:
          chartName: chartName
          chartVersion: chartVersion
          repositoryURL: repositoryURL
      properties:
        reference:
          $ref: "#/components/schemas/HelmChartReference"
      required:
      - reference
      type: object
    HelmListChartVersionsActionResponse:
      properties:
        items:
          items:
            type: string
          type: array
      required:
      - items
      type: object
    HelmGetChartMetadataAction:
      example:
        reference:
          chartName: chartName
          chartVersion: chartVersion
          repositoryURL: repositoryURL
      properties:
        reference:
          $ref: "#/components/schemas/HelmChartReference"
      required:
      - reference
      type: object
    HelmGetChartMetadataActionResponse:
      example:
        defaultValues: "{}"
      properties:
        defaultValues:
          type: object
      required:
      - defaultValues
      type: object
    HelmRenderChartAction:
      example:
        reference:
          chartName: chartName
          chartVersion: chartVersion
          repositoryURL: repositoryURL
        parameters:
          stringValuesFlat:
          - stringValuesFlat
          - stringValuesFlat
          valueFiles:
          - valueFiles
          - valueFiles
          releaseName: releaseName
          values:
            key: values
          includeHooks: true
          complexValues: "{}"
          stringValues:
            key: stringValues
          valuesFlat:
          - valuesFlat
          - valuesFlat
          kubeVersion: kubeVersion
          apiVersions:
          - apiVersions
          - apiVersions
          namespace: namespace
          includeCRDs: true
          ignoreMissingValueFiles: false
      properties:
        reference:
          $ref: "#/components/schemas/HelmChartReference"
        parameters:
          $ref: "#/components/schemas/HelmRenderParameters"
      required:
      - reference
      type: object
    HelmRenderChartActionResponse:
      example:
        metadata:
          chartMetadata:
            appVersion: appVersion
            name: name
            version: version
            dependencies:
            - null
            - null
          helmVersion: helmVersion
          kubeVersion: kubeVersion
          mergedValues: "{}"
          releaseName: releaseName
          apiVersions:
          - apiVersions
          - apiVersions
          namespace: namespace
        manifests:
        - source: source
          content: "{}"
        - source: source
          content: "{}"
      properties:
        manifests:
          items:
            $ref: "#/components/schemas/Manifest"
          type: array
        metadata:
          $ref: "#/components/schemas/HelmRenderMetadata"
      type: object
    KustomizeRenderKustomizationAction:
      example:
        reference:
          reference: reference
          path: path
          repositoryURL: repositoryURL
        parameters:
          manifestInjections:
          - fileName: fileName
            manifests:
            - source: source
              content: "{}"
            - source: source
              content: "{}"
          - fileName: fileName
            manifests:
            - source: source
              content: "{}"
            - source: source
              content: "{}"
      properties:
        reference:
          $ref: "#/components/schemas/GitRepositoryPathReference"
        parameters:
          $ref: "#/components/schemas/KustomizeRenderParameters"
      required:
      - reference
      type: object
    KustomizeRenderKustomizationActionResponse:
      example:
        manifests:
        - source: source
          content: "{}"
        - source: source
          content: "{}"
      properties:
        manifests:
          items:
            $ref: "#/components/schemas/Manifest"
          type: array
      type: object
    HelmListChartsItem:
      properties:
        name:
          type: string
        versions:
          items:
            $ref: "#/components/schemas/HelmListChartsItemVersion"
          type: array
      required:
      - name
      - versions
      type: object
    HelmListChartsItemVersion:
      properties:
        version:
          type: string
      required:
      - version
      type: object
    HelmRepositoryReference:
      oneOf:
      - $ref: "#/components/schemas/HelmChartRepositoryReference"
      - $ref: "#/components/schemas/GitRepositoryReference"
    HelmChartRepositoryReference:
      example:
        repositoryURL: repositoryURL
      properties:
        repositoryURL:
          type: string
      required:
      - repositoryURL
      type: object
    GitRepositoryReference:
      properties:
        repositoryURL:
          type: string
        reference:
          type: string
      required:
      - reference
      - repositoryURL
      type: object
    HelmChartReference:
      oneOf:
      - $ref: "#/components/schemas/HelmChartRepositoryChartReference"
      - $ref: "#/components/schemas/GitRepositoryPathReference"
    HelmChartRepositoryChartReference:
      allOf:
      - $ref: "#/components/schemas/HelmChartRepositoryReference"
      - properties:
          chartName:
            type: string
          chartVersion:
            type: string
        required:
        - chartName
      example:
        chartName: chartName
        chartVersion: chartVersion
        repositoryURL: repositoryURL
    KustomizationReference:
      $ref: "#/components/schemas/GitRepositoryPathReference"
    GitRepositoryPathReference:
      allOf:
      - $ref: "#/components/schemas/GitRepositoryReference"
      - properties:
          path:
            type: string
      example:
        reference: reference
        path: path
        repositoryURL: repositoryURL
    Manifest:
      example:
        source: source
        content: "{}"
      properties:
        source:
          type: string
        content:
          type: object
      required:
      - content
      type: object
    HelmChartMetadata:
      example:
        appVersion: appVersion
        name: name
        version: version
        dependencies:
        - null
        - null
      properties:
        name:
          type: string
        version:
          type: string
        appVersion:
          type: string
        dependencies:
          items:
            $ref: "#/components/schemas/HelmChartMetadata"
          type: array
      required:
      - dependencies
      - name
      - version
      type: object
    HelmRenderMetadata:
      example:
        chartMetadata:
          appVersion: appVersion
          name: name
          version: version
          dependencies:
          - null
          - null
        helmVersion: helmVersion
        kubeVersion: kubeVersion
        mergedValues: "{}"
        releaseName: releaseName
        apiVersions:
        - apiVersions
        - apiVersions
        namespace: namespace
      properties:
        releaseName:
          type: string
        namespace:
          type: string
        apiVersions:
          items:
            type: string
          type: array
        kubeVersion:
          type: string
        helmVersion:
          type: string
        mergedValues:
          type: object
        chartMetadata:
          $ref: "#/components/schemas/HelmChartMetadata"
      required:
      - apiVersions
      - chartMetadata
      - helmVersion
      - kubeVersion
      - mergedValues
      - namespace
      - releaseName
      type: object
    HelmRenderParameters:
      example:
        stringValuesFlat:
        - stringValuesFlat
        - stringValuesFlat
        valueFiles:
        - valueFiles
        - valueFiles
        releaseName: releaseName
        values:
          key: values
        includeHooks: true
        complexValues: "{}"
        stringValues:
          key: stringValues
        valuesFlat:
        - valuesFlat
        - valuesFlat
        kubeVersion: kubeVersion
        apiVersions:
        - apiVersions
        - apiVersions
        namespace: namespace
        includeCRDs: true
        ignoreMissingValueFiles: false
      properties:
        releaseName:
          type: string
        namespace:
          type: string
        kubeVersion:
          type: string
        apiVersions:
          items:
            type: string
          type: array
        valueFiles:
          items:
            type: string
          type: array
        values:
          additionalProperties:
            type: string
          type: object
        valuesFlat:
          items:
            type: string
          type: array
        stringValues:
          additionalProperties:
            type: string
          type: object
        stringValuesFlat:
          items:
            type: string
          type: array
        complexValues:
          type: object
        includeCRDs:
          default: true
          type: boolean
        includeHooks:
          default: true
          type: boolean
        ignoreMissingValueFiles:
          default: false
          type: boolean
      type: object
    KustomizeRenderParameters:
      example:
        manifestInjections:
        - fileName: fileName
          manifests:
          - source: source
            content: "{}"
          - source: source
            content: "{}"
        - fileName: fileName
          manifests:
          - source: source
            content: "{}"
          - source: source
            content: "{}"
      properties:
        manifestInjections:
          items:
            $ref: "#/components/schemas/KustomizeManifestInjection"
          type: array
      type: object
    KustomizeManifestInjection:
      example:
        fileName: fileName
        manifests:
        - source: source
          content: "{}"
        - source: source
          content: "{}"
      properties:
        fileName:
          type: string
        manifests:
          items:
            $ref: "#/components/schemas/Manifest"
          type: array
      required:
      - fileName
      - manifests
      type: object
